/* Coolors Exported Palette - coolors.co/2b2d42-fffcf9-848c8e-93a8ac-d6fff6 

 HSL  */

.div{color: hsla(235%, 21%, 21%, 1);}
.div{color: hsla(30%, 100%, 99%, 1);}
.div{color: hsla(192%, 4%, 54%, 1);}
.div{color: hsla(190%, 13%, 63%, 1);}
.div{color: hsla(167%, 100%, 92%, 1);}

 RGBa 
.div{color: rgba(43, 45, 66, 1);}
.div{color: rgba(255, 252, 249, 1);}
.div{color: rgba(132, 140, 142, 1);}
.div{color: rgba(147, 168, 172, 1);}
.div{color: rgba(214, 255, 246, 1);}


 /* shades of gray lol darkest to lightest */
.div{color: #696969;}   	
.div{color: #808080;}
.div{color: #A9A9A9;}	
.div{color: #C0C0C0;}	
.div{color: #DCDCDC;}	
.div{color: #D3D3D3;}

/* Almost black easier to read */
.div{color:#333333; }

